#contact-form {
    background-color: #383345!important;
    width: 100%;
    padding: 5% 2%;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #ffffff;
}

#contact-form div,
#contact-form Button {
    width: 100%;
    max-width: 700px;
    margin: auto;
    text-align: left;
}

#contact-form Button {
    font-family: inherit;
    margin-top: 2%;
    text-align: center;
    box-shadow: 0 0 5px 0 #ffffff;
    color: black;
    background-color: #c7649b!important
}


