.custom-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.custom-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  padding: 15px;
}

h1 {
  margin: 3px;
  
}

.custom-btn{
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 30px;
  margin-top: 2%;
  text-align: center;
  box-shadow: 0 0 5px 0 #ffffff;
  color: black;
  background-color: #FD12FF!important
}

.custom-btn:hover {
  background-color: #767676;
}