body {
  background-color: #22222166;
  height: 100%;
  min-height: 100vh;
}

main {
  padding: 2%;
  font-family: "Inconsolata", monospace;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.custom-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.custom-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 15px;
}

h1 {
  margin: 3px;
  color: #e1da5f;
  line-height: 0.9;
}

h2 {
  margin: 0;
  color: #e1da5f;
  line-height: 0.9;
}

p {
  margin: 0;
  color: #ffffff;
  line-height: 1.5;

}

.custom-btn{
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 30px;
  margin-top: 2%;
  text-align: center;
  box-shadow: 0 0 5px 0 #ffffff;
  color: black;
  background-color: #c7649b!important
}

/* .custom-btn:hover {
  background-color: #767676;
} */