.nav {
    font-family: 'Open sans', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #2c2b2c!important;
}

.nav a {
    padding: 10px 10px;
}

.nav-link-active {
    text-decoration: underline;
    text-decoration-color: #454545;
    text-underline-offset: 5px;
}