:root {
  font-family: "Anton", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


a.active{
  font-weight: 700!important;
}
a button{
  color: #000000!important;
}

a {
  font-weight: 500;
  color: #000000!important;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: block;
  background-color: #262626;
  min-width: 320px;
  min-height: 100vh;
  color: #ffffff;
}

.error-text{
  color: red;
}

/* h1 {
  font-size: 2.5em;
  line-height: 1.1;
  margin-bottom: 40px;
}

#resume{
  margin: 40px;
}

.card{
  background-color: #283618!important;
  color: #fefae0;
} */

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */